<html>
<head>
    {% block title %}
    {% endblock %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav>
                <a class="btn" href="/admin">Admin</a>
                <a class="btn btn-primary" href="{% url 'locations:lista_locatii' %}">Locatii</a>
            </nav>
        </div>
    </div>
</div>
{% block content %}
{% endblock %}
</body>
</html>
