{% extends 'base.html' %}
{% block content %}
    <a class="btn btn-primary" href="#">Adaugare locatii</a>
    <table class="table">
    <thead>
    <tr>
        <th>Index</th>
        <th>City</th>
        <th>Country</th>
        <th>Active</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for item in location_list %}
        <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ item.city }}</td>
        <td>{{ item.country }}</td>
        <td>{{ item.active }}</td>
        <td><a class="btn btn-success" href="#">Edit</a></td>
        <td><a class="btn btn-danger" href="#">Delete</a></td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}
