{% extends 'base.html' %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        <div class="col-md-2">
            <label>Username</label>
            <input class="form-control" name="username" type="text"><br>
            <label>Password</label>
            <input class="form-control" name="password" type="password"><br>

            <button type="submit" class="btn btn-info">Login</button>
            <span style="color: red;">{{ form.non_field_errors }}</span>
        </div>

    </form>
{% endblock %}
